@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

* {
   padding: 0px;
   margin: 0px;
   
   
}

body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Bellota', sans-serif;
    background-color: #ffdfdb;
    zoom: 30%;
}

.header {
    width: 100%;
}

.photo-header {
    width: 100%;
    height: auto;
    background-image: url(images/background.png);
    background-size: cover;
    text-align: center;
}



.profile h4 {
    padding-top: 510px;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 180px;
    font-weight: bolder;
    color: #c74829;
    font-family: 'overlock';
}

.profile h2 {
    padding-top: 70px;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 70px;
    font-weight: bold;
    color: #da5533;
}

.profile h3 {
    padding-top: 250px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 310px;
    margin-top: 10px;
    font-size: 110px;
    font-weight: bold;
    color: #da5533;
}

.profile button {
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #8f2e23;
    border-radius: 200px;
    border-color: #bd4436;
    border-style: solid;
    border-width: 15px;
    animation: button 5s infinite;
    animation-timing-function: ease;
    transition: 0.5s;
    transition-timing-function: ease;
}

@keyframes button {
    10%{
        border-color: #bd4436;
        border-width: 15px; 
    }
    50%{
        border-color: #fd998e;
        border-width: 35px;
    }
    100%{border-color: #bd4436;
        border-width: 15px;
    }
}

.profile button:hover {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    background-color: #c9574b;
    border-color: #a8372b;
    border-style: solid;
    border-width: 20px; 
    animation: buttonHover 5s infinite;  
}

@keyframes buttonHover {
    10%{
        border-color: #a8372b;
        border-width: 20px;
        background-color: #c9574b; 
    }
    50%{
        border-color: #ffbab2;
        border-width: 45px;
        background-color: #aa3e31;
    }
    100%{border-color: #a8372b;
        border-width: 20px;
        background-color: #c9574b;
    }
}

.profile button a {
    font-size: 100px;
    text-decoration: none;
    color: transparent;
}

.container {
    width: 100%;
}

.container h3 {
    padding-top: 200px;
    padding-left: 18%;
    padding-right: 18%;
    font-size: 80px;
    color: #da5533;
    font-weight: 900;
    font-family: 'Overlock';
    text-align: center;
}

.container p {
    padding-top: 50px;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 150px;
    font-size: 70px;
    color: #da5533;
    text-align: center;
}
/* .right-side {
    width: 100%;
    height: 150px;
}

.right-side div {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10mm;
    text-transform: uppercase;
    float: right;
    text-align: center;

}

.nav-link-wrapper {
    width: 250px;
    height: 70px;
    border-bottom: 2px solid transparent;
    transition: color 0.8s;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #EE5645;
    text-decoration: none;
    transition: color 0.8s;
    position: relative;
    top: 10px;
}

.nav-link-wrapper:hover {
    height: 60px;
    border-bottom: 9px solid #EE5645;
    border-radius: 50px;
    background-color: #EE5645;
} 

.nav-link-wrapper a:hover {
    height: 60px;
    color:  #FFD7D4;
}

.profile {
    position: relative;
    display: flex;
    height: 500px;
    width: 100%;
    padding-top: 200px;
    justify-content: center;
}



.profile-pic {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}


.content {
    margin-bottom: 260px;
    width: 100%;
    height: 4500px;
    box-shadow: 0 2px 70px rgba(0, 0, 0, 0.06);   
}

.board-one {
    background-color: #f7f7f7;
    height: 1500px;  
}

.board-two {
    background-color: #E6E6E6;
    height: 1500px;
}

.board-three{
    background-color: #f7f7f7;
    height: 1500px;
} */

.intro {
    background-color: #8f2e23;
    width: 100%;
    height: auto;
}

.vl {
    background-color: #FFACA3;
    margin-right: 49.5%;
    margin-left: 49.5%;
    width: 20px;
    height: 400px;
    transition: background-color 0.5s ease;
    text-align: center;
}

.vl:hover {
    background-color: #cf3625;

}

.card {
    width: 60%;
    height: 800;
    background-color: #471510;
    border-radius: 100px;
    margin-left: 20%;
    box-shadow: 0px 0px 60px #922b22;
    transition: 0.8s;
    transition-timing-function: ease;
}

.card:hover {
    box-shadow: 0px 0px 60px #691f18;
    width: 60.5%;
    height: auto;
}

.card h1 {
    padding-top: 200px;
    font-size: 150px;
    color: #fff5f4;
    text-align: center;
    position: relative;
    animation: hi 3s infinite;
    animation-timing-function: ease-out;
    animation-delay: 4s;
}

@keyframes hi {
    0% {color: #fff5f4; font-size: 150px;}
    50% {color: #fff5f4; font-size: 200px;}
    100% {color: #fff5f4; font-size: 150px;}
}

.card p {
    padding-top: 100px;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 330px;
    font-size: 80px;
    color: #f7b9a6;
    font-weight: bold;
    text-align: center;
}

.card-two {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin-left: 40%;
    border-radius: 100px;
    box-shadow: 0px 0px 60px #ffdbd7;
    transition: 0.7s;
    transition-timing-function: ease;
}

.card-two:hover {
    box-shadow: 0px 0px 60px #ffcbc3;
    width: 50.5%;
    height: auto;
}

.card-two img {
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 10%;
}

/* .hl {
    border-top: 20px solid #EE5645;
    width: 1220px;
    position: relative;
    left: 20%;
    margin-top: 1750px;
} */


.card-three {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    border-radius: 100px;
    margin-left: 10%;
    box-shadow: 0px 0px 60px #ffdbd7;
    transition: 0.7s;
    transition-timing-function: ease;
}

.card-three:hover {
    box-shadow: 0px 0px 60px #ffcbc3;
    width: 50.5%;
    height: auto;
}

.card-three img {
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 10%;
}

.card-four {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin-left: 40%;
    border-radius: 100px;
    box-shadow: 0px 0px 60px #ffdbd7;
    transition: 0.7s;
    transition-timing-function: ease;
}

.card-four:hover {
    box-shadow: 0px 0px 60px #ffcbc3;
    width: 50.5%;
    height: auto;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}

.card-four img {
    flex: 5%;
    padding: 50px;
}

.card-five {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin-left: 10%;
    border-radius: 100px;
    box-shadow: 0px 0px 60px #ffdbd7;
    transition: 0.7s;
    transition-timing-function: ease;
}

.card-five:hover {
    box-shadow: 0px 0px 60px #ffcbc3;
    width: 50.5%;
    height: auto;
}

.card-five img {
    flex: 5%;
    padding: 50px;
}

.card-six {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin-left: 40%;
    border-radius: 100px;
    box-shadow: 0px 0px 60px #ffdbd7;
    transition: 0.7s;
    transition-timing-function: ease;
}

.card-six:hover {
    box-shadow: 0px 0px 60px #ffcbc3;
    width: 50.5%;
    height: auto;
}

.card-six img {
    flex: 5%;
    padding: 50px;
}

.card-seven {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    margin-left: 10%;
    border-radius: 100px;
    box-shadow: 0px 0px 60px #ffdbd7;
    transition: 0.7s;
    transition-timing-function: ease;
}

.card-seven:hover {
    box-shadow: 0px 0px 60px #ffcbc3;
    width: 50.5%;
    height: auto;
}

.card-seven img {
    flex: 5%;
    padding: 50px;
}

.end {
    background-color: #8f2e23;
    width: 100%;
    height: auto;
    text-align: center;
}

.end h2 {
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;
    font-size: 100px;
    color: #fff5f4;
    text-align: center;
    font-family: 'overlock';
    font-weight: 900;
}

.end button {
    height: 200px;
    width: 600px;
    background-color: #471510;
    border-radius: 100px;
    margin-bottom: 100px;
    border-color: #ffcbc3;
    border-style: solid;
    border-width: 10px;
    transition: 0.5s;
    transition-timing-function: ease;
}

.end button:hover {
    background-color: #8f2e23;
    border-color: #ffded9;
}

.end a {
    font-size: 70px;
    color: #ffcbc3;
    text-decoration: none;
    font-family: 'Bellota';
    font-weight: bold;
}


@media screen and (max-width: 600px) {
    .card-two img {
        height: 200px;
        margin-left: 27%;
        margin-right: 27%;
        margin-bottom: 10%;
    }

    .card-three img {
        height: 200px;
        margin-left: 27%;
        margin-right: 27%;
        margin-bottom: 10%;
    }
}


footer {
    width: 100%;
    height: auto;
    background-color: #da4534;
    text-align: center;
    padding-bottom: 100px;
}

footer h1 {
    padding-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;
    font-size: 100px;
    color: #fff5f4;
    text-align: center;
}

.social {
    margin-bottom: 100px;
}

footer img {
    margin-left: 50px;
    margin-right: 50px;
}

footer cite {
    color: #fff5f4;
    font-size: 50px;
}